#mainContainer {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#column1, #column2, #column3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5vh;
    justify-content: space-between;
}

.col-header {
    font-family: 'Roboto', 'sans-serif';
    text-align: center;
}
